* {
    margin: 0;
    padding: 0;
}

figure>img {
    width: 90%;
    margin: auto;
}

ul>li {
    list-style: none;
}

li>a {
    text-decoration: none;
}

body {
    background-color: #1b1834;
}

#activo {
    color: #ffffff;
    border-bottom: 5px solid #e8a54e ;
}

/*Estilos del Header*/
header {
    display: flex;
    align-items: center;
    margin: 1% 0;
    padding: 1%;
    color: #b6b9d8;
    border-bottom: 1px solid  #b6b9d8;
}

header>figure {
    flex: 1;
}

header>h1 {
    flex: 1;

}

header>ul {
    flex: 1;
    display: flex;
}

header>ul>li {
    margin: 0 3%;
}

header>ul>li>a {
    flex: 1;
    display: flex;
    color: #b6b9d8;
}

header>form {
    flex: 1;

}

/*Estilos del nav*/
nav {
    margin: 3% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b6b9d8;
}

nav>h2 {
    flex: 1;
    padding-left: 5%;
}

nav>ul {
    flex: 2;
    display: flex;
}

nav>ul>li {
    margin: 0 3%;
}

nav>ul>li>a {
    flex: 1;
    display: flex;
    color: #b6b9d8;
}

/*Estilos del main*/



/*Estilos del footer*/

footer{
    display: flex;
    align-items: center;
    border-top: 1px solid  #b6b9d8;
    color:#b6b9d8;
}

footer>section{
    margin: 1% 3%;
    flex: 3;
}

footer>ul{
    display: flex;
    flex: 1;
    justify-content: space-around;
}